In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sales_performance_data.csv')

In [4]:
df.head()

,employee_id,employee_name,created,dated,lead_taken,tours_booked,applications,tours_per_lead,apps_per_tour,apps_per_lead,...,fri_text,sat_text,sun_text,mon_call,tue_call,wed_call,thur_call,fri_call,sat_call,sun_call
0,183,Camilla Ali,2022-07-26 19:00:12.644,2022-07-26,44,2,2,4.5,100.0,4.5,...,11,5,86,0,3,2,6,0,0,13
1,185,Maaz Brown,2022-07-26 19:00:12.644,2022-07-26,27,1,0,3.7,0.0,0.0,...,27,28,21,2,1,0,2,3,1,3
2,186,Jim Lee,2022-07-26 19:00:12.644,2022-07-26,86,5,1,5.8,20.0,1.2,...,10,14,0,0,2,0,0,0,0,0
3,173,Alina Victor,2022-07-26 19:00:12.644,2022-07-26,47,8,4,17.0,50.0,8.5,...,10,20,6,4,5,13,1,6,10,1
4,158,Mary Ogbewele,2022-07-26 19:00:12.644,2022-07-26,56,6,3,10.7,50.0,5.4,...,56,52,13,5,12,0,3,11,0,2

In [ ]:
df['employee_id'].unique()

69